/*body section Starts*/
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    direction: rtl;
}
h2{
    font-family: "b mitra";
    color: #888;
}
/*body section Ends*/

/*Header Starts*/
/*parallax effect Starts*/
.pipeHeaderParallaxContainer {
    border-bottom: 2px solid #f73d3d;
}
.pipeHeaderParallax {
    /* The image used */
    background-image: url("../pics/05.jpg");

    /* Set a specific height */
    min-height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pipeTitleBackground {
    /* background-image: url("../pics/logo.png"); */
    /* background-repeat: no-repeat; */
    position: absolute;
    left: 50%;
    margin-left: -151px;
    top: 30%;
    width: 302px;
    height: 155px;
    display: inline;
    background-color: #050101b3;
}
.pipeTitleHead {
    font-family: "B Titr";
    font-size: 42px;
    color: white;
    text-align: center;
    height: 60px;
}
.pipeTitleLocation {
    font-family: "B Yekan";
    font-size: 28px;
    color: white;
    text-align: center;
}
.pipeTitleNumber {
    font-family: "B Titr";
    font-size: 32px;
    color: white;
    text-align: center;
}
/*parallax effect Ends*/

/*Menu Starts*/
.pipeEvacuationTopNav ul {
    text-align: center;
    padding: 5px 10px 0px 10px;
}
.pipeEvacuationTopNav ul li {
    padding: 7px 8px 0 9px;
    /* float: right; */
    list-style-type: none;
    text-align: center;
    width: auto;
    display: inline-block;
}
.pipeEvacuationTopNav ul li:nth-last-child(n+2){
    border-left: 2px #d8eaf0 solid;
}
.pipeEvacuationTopNav ul li:hover{
    background-color: #9b9b9b4d;
}
.pipeEvacuationTopNav {
    background-color: #050101cf;
    margin-bottom: 100px;
    display: inline-block;
    text-align: center;
    /* margin: auto; */
    border-radius: 25px 25px 0 0;
    position: relative;
}

.pipeEvacuationTopNav ul li a{
    color: #eee;
    text-decoration: none;
    font-family: "B Homa";
    font-size: 18px;
}
nav{
    margin-top: -110px;
    text-align: center;
}

/*Menu Ends*/

/*Header Ends*/

/*Main Content Starts*/

/*Intelligent Help Starts*/
.pipeIntelligentHelpOutsideContainer{
    border-bottom: 2px solid #f73d3d;
}
.pipeIntelligentHelp{
    padding: 10px 0 20px 0;
    text-align: center;
}
.pipeIntelligentHelpTitle {
    font-family: "b Titr";
    font-size: 40px;
    text-align: center;
    padding: 10px;
}
.pipeIntelligentHelpDescription {
    font-family: "b mitra";
    font-size: 18px;
    padding: 10px 0 20px 0;
}
.pipeIntelligentHelpPic {
    display: block;
    margin: auto;
    width: 30%;
}
.pipeIntelligentButton {
    border: 2px solid #000206;
    padding: 2px 5px 2px 5px;
    font-family: "B Homa";
    font-size: 16px;
    background-color: #e4e4e44d;
    border-radius: 17px;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
}
.pipeIntelligentButton:hover {
    background-color: #f73d3d;
    color: white;
}

/*Intelligent Help Ends*/

/*Services Starts*/

.pipeServicesContainer {
    text-align: center;
    padding: 0 13px 0 13px;
}
.pipeServicesDescription {
    text-align: justify;
    font-family: "B mitra";
    color: #888;
}
.pipeServicePicsLolebazkoni {
    background-image: url("../pics/services/LooleBazkoni.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    height: 124px;
    width: 143px;
    margin: auto;
}
.pipeServicePicsLolebazkoni:hover{
    background-image: url("../pics/services/LooleBazkoniHover.png");
}
.pipeServicesOutsideContainer{
    border-bottom: 2px solid #f73d3d;
}
.pipeServiceRowContainer{
    padding: 25px 0 0 0;
    margin: 0 0 25px 0;
}
.pipeServiceRowContainer:not(:first-child){
    border-top: solid 1px #c5c0c0;
}
/*  :not(:first-child)  */

/*Services Ends*/

/*Gallary Starts*/

.pipeGallaryOutsideContainer{
    border-bottom: 2px solid #f73d3d;
}
.pipeGallaryContainer{
    height: 200px;
}

/*Gallary Ends*/






/*Details Starts*/

.pipeDetailsOutsideContainer{
    border-bottom: 2px solid #f73d3d;
}
.pipeDetailsContainer{
    height: 200px;
}

/*Details ends*/





/*Article Starts*/

.pipeArticleOutsideContainer{
    border-bottom: 2px solid #f73d3d;
}
article{
    height: 200px;
}

/*Article Ends*/





/*Parallax Description Starts*/

.pipeParalaxDescriptionOutsideContainer{
    border-bottom: 2px solid #f73d3d;
}
.pipeParalaxDescriptionContainer{
    height: 200px;
}

/*Parallax Description Ends*/





/*Video Starts*/


.pipeVideoOutsideContainer{
    border-bottom: 2px solid #f73d3d;
}
.pipeVideoContainer{
    height: 200px;
}

/*Video Ends*/





/*News Starts*/


.pipeNewsOutsideContainer{
    border-bottom: 2px solid #f73d3d;
}
.pipeNewsContainer{
    height: 200px;
}

/*News Ends*/





/*Map Starts*/


.pipeMapOutsideContainer{
    border-bottom: 2px solid #f73d3d;
}
.pipeMapContainer{
    height: 200px;
}

/*Map Ends*/



/*Footer Starts*/

footer{
    height: 260px;
    background-color: #1B242F;
}

/*Footer Ends*/

/*Main Content Ends*/