/*body section Starts*/
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    direction: rtl;
}
/*body section Ends*/

/*Header Starts*/
/*parallax effect Starts*/
.pipeHeaderParallaxContainer {
    border-bottom: 2px solid white;
}
.pipeHeaderParallax {
    /* The image used */
    background-image: url("../pics/05.jpg");

    /* Set a specific height */
    min-height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pipeTitleBackground {
    background-image: url("../pics/logo.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -151px;
    top: 30%;
    width: 302px;
    height: 155px;
    display: inline;
}
.pipeTitleHead {
    font-family: "B Titr";
    font-size: 42px;
    color: white;
    text-align: center;
    height: 60px;
}
.pipeTitleLocation {
    font-family: "B Yekan";
    font-size: 28px;
    color: white;
    text-align: center;
}
.pipeTitleNumber {
    font-family: "B Titr";
    font-size: 32px;
    color: white;
    text-align: center;
}
/*parallax effect Ends*/

/*Menu Starts*/
ul{
    text-align: center;
}
ul li {
    padding: 7px 8px 0 9px;
    /* float: right; */
    list-style-type: none;
    text-align: center;
    width: auto;
    display: inline-block;
}
ul li:nth-last-child(n+2){
    border-left: 2px #d8eaf0 solid;
}
ul li:hover{
    background-color: #0000004d;
}
.pipeEvacuationTopNav{
    background-color: #0b4d63;
    margin-bottom: 5px;
}

ul li a{
    color: #eee;
    text-decoration: none;
    font-family: "B Homa";
    font-size: 18px;
}

/*Menu Ends*/

/*Header Ends*/